<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="location" placeholder="Location">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Add</button>
    </form>
</div>
<div>List of Conferences</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Find</button>
</form>
{{#conferences}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{location}}</i>
        <p>Number of participants: </p>
        <b>{{numberOfParticipants}}</b>
        <form method="post" action="/addParticipant">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="hidden" name="id" value="{{id}}" />
            <button type="submit">Assign Participant</button>
        </form>
    </div>
{{/conferences}}
</body>
</html>